<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

    <title>SKIN DISEASE DETECTION</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="static/assets/css/fontawesome.css">
    <link rel="stylesheet" href="static/assets/css/templatemo-host-cloud.css">
    <link rel="stylesheet" href="static/assets/css/owl.css">
     <link rel="stylesheet" href="static/assets/css/templatemo-host-cloud11.css">
    <!--

    Host Cloud Template

    https://templatemo.com/tm-541-host-cloud

    -->
</head>

<body>

<!-- ***** Preloader Start ***** -->
<div id="preloader">
    <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<!-- ***** Preloader End ***** -->

<!-- Header -->
<header class="">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="{{url_for('index')}}"><h4 style="color:white; font-size:150%; font-family:Garamond;background-color: black; " >DERMO-CLASSIFY</h4></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('index')}}">Home</a>
                        <!--                            <span class="sr-only">(current)</span>-->
                        <!--                        </a>-->
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{url_for('about')}}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('userlog')}}">User</a>
                    </li>
                </ul>
            </div>
            <div class="functional-buttons">
                <!--            <ul>-->
                <!--              <li><a href="#">Log in</a></li>-->
                <!--              <li><a href="#">Sign Up</a></li>-->
                <!--            </ul>-->
            </div>
        </div>
    </nav>
</header>
<section class="page-heading header-text" style="padding-top: 316px;">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner text-center rounded">
                    <h2 class="section-heading mb-4">
                        <center>	<div class="col-md-8">

                            {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                            {% for category, message in messages %}
                            <b><h5><div class="alert alert-{{ category }}">
                                {{ message }}{{msg}}
                            </div></h5></b>
                            {% endfor %}
                            {% endif %}
                            {% endwith %}

                            {% block content %} {% endblock %}
                        </div></center>
                        <span class="section-heading-upper" style="color:white; background-color:  #8E8E8E.; font-size:100%; font-family:verdana;">Login & Continue..</span>
                    </h2>
                    <p class="mb-0">

                    <form action="{{url_for('userlog')}}" method="post">
                        <div class="field">
                            <input type="email" name="email" placeholder="Email" />
                        </div>
                        <br>
                        <div class="field">
                            <input type="password" name="pwd" placeholder="Password" />
                        </div>
                        <div class="field center">
                            <br>
                            <button>LOGIN</button></div></fieldset></form>
                    <br>&nbsp;
                    <a href="{{ url_for('reg') }}"><button>SignUp Here</button></a>


                    </form>
                </div>
            </div>
        </div>
    </div>

</section>

<script src="static/vendor/jquery/jquery.min.js"></script>
<script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Additional Scripts -->
<script src="static/assets/js/custom.js"></script>
<script src="static/assets/js/owl.js"></script>
<script src="static/assets/js/accordions.js"></script>

<script language = "text/Javascript">
      cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
      function clearField(t){                   //declaring the array outside of the
      if(! cleared[t.id]){                      // function makes it static and global
          cleared[t.id] = 1;  // you could use true and false, but that's more typing
          t.value='';         // with more chance of typos
          t.style.color='#fff';
          }
      }
    </script>

</body>
</html>